body{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: arial;
    background-color: #f8f8f8;
    color: #333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: default;
}

.opala-aberto{
    max-height: 250px !important;
}

.img-opala-foda{
    position: absolute;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.8s ease;
    max-height: 0;
    overflow: hidden;
}

.img-opala-foda img{
    padding: 3px;
    border-radius: 10px;
}

.menuOpen{
    padding: 2%;
    max-height: 400px !important;
}

.menu:hover{
    display: block;
}

.menu {
    max-height: 0;
    text-wrap: wrap;
    transition: all 0.5s ease;
    position: fixed;
    top: 7.9%;
    left: 5%;
    background: #2c3e50;
    color: white;
    border-radius: 5px;
    z-index: 1000;
    overflow: hidden;
}

.menu a {
    color: #ecf0f1;
    text-decoration: none;
    display: block;
    margin: 5% 0;
    font-size: 1.2em;
}

.menu a:hover {
    color: #0c0c0c;
}

header{
    background-color: #2c3e50;
    color: rgb(224, 222, 222);
    padding: 20px;
    text-align: center;
    width: 100%;
}

 header img{
    width: 40px;
    position: absolute;
    left: 110px;
    top: 35px;
 }

 header img:hover{
    cursor: pointer;
 }

table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ddd;
}

th,td{
    padding: 10px;
    text-align: left;
}

th{
    background-color: #34495E;
    color: white;
}

td{
    background-color: #c1c3c4;
}

tr:nth-child(even) td{
    background-color: #a8aaac;
}

form{
    background-color: #ebeaea;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    margin-top: 30px;
    width: 40%;
}

footer{
    background-color: #2C3E50;
    color: white;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

form label{
    font-size: 1,1em;
    color: #2C3E50;
    margin: 10px;
    display: inline-block;
}

form input[type="text"]{
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #2C3E50;
    border-radius: 5px;
    font-size: 1em;
    color: #2C3E50;
}

form input[type="radio"]{
    margin-right: 10px;
}

form input:hover{
    cursor: pointer;
}

form button{
    background-color: #E67E22;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1,2em;
    cursor: pointer;
}

form button:hover{
    background-color: #D35400;
}

.centro{
    text-align: center;
    margin-top: 30px;
}

.centro img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

footer p{
    font-size: 1,2em;
}

.conteudo{
    width: 800px;
}

li h4:hover{
    cursor: pointer;
}